@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

:root {
    --text-color: #fff;
    --color: #2c2ff9;
    --bg-color: #1c1c1d;
    --first: #fff;
    --second: #000;
    --mob-color: #363636;
}

body.dark-mode {
    --text-color: #222;
    --bg-color: #f2f2f2;
    --first: #222;
    --second: #fff;
    --mob-color: #eae6e6;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

// Header Start

header {
    background: var(--bg-color);
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            z-index: 1;

            a {
                text-decoration: none;
                font-size: 32px;
                font-weight: 600;
                color: var(--first);

                span {
                    color: var(--color);
                }
            }
        }

        .list-dakmode-menu {
            display: flex;
            align-items: center;
            gap: 2.5rem;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
                font-size: 18px;
                list-style: none;
                z-index: 1;

                li {
                    a {
                        position: relative;
                        text-decoration: none;
                        color: var(--first);
                        font-size: 18px;
                        font-weight: 500;
                        transition: 0.3s ease;

                        &:hover {
                            color: var(--color);

                            &::before {
                                width: 100%;
                            }
                        }

                        &::before {
                            content: '';
                            bottom: -7px;
                            left: 0;
                            width: 0;
                            height: 2.5px;
                            background: var(--color);
                            transition: 0.3s ease;
                        }
                    }

                }
            }

            .mode {
                color: var(--text-color);
                font-size: 24px;
                display: flex;
                align-items: center;
                cursor: pointer;
                user-select: none;

                .fa-moon,
                .fa-sun {
                    position: absolute;
                    animation: animate 0.5s;
                }

                .fa-sun {
                    display: none;
                }

                input:checked~.fa-moon {
                    display: none;
                }

                input:checked~.fa-sun {
                    display: block;
                }

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;
                }
            }

            @keyframes animate {
                0% {
                    transform: rotate(-360deg);
                }

                75% {
                    transform: rotate(25deg);
                }
            }

            .hamburger {
                position: relative;
                width: 30px;
                cursor: pointer;
                appearance: none;
                border: none;
                outline: none;
                background: none;
                scale: 0.9;
                display: none;

                .bar,
                &::after,
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 3px;
                    background: var(--first);
                    margin: 6px 0;
                    transition: 0.4s;
                }
            }
        }
    }
}

// Header End

// Home Start

.home {
    background: var(--bg-color);
    min-height: 100vh;
    width: 100%;
    padding: 50px 0;

    .home-info {
        display: flex;
        align-items: center;
        justify-content: center;

        .left {
            flex: 1;

            h3 {
                font-size: 2.5em;
                font-weight: bold;
                letter-spacing: 0.5px;
                color: var(--first);
            }

            h1 {
                font-size: 4.5em;
                color: var(--first);
                margin: 10px 0;

            }

            h4 {
                color: var(--first);
                font-size: 2.2em;
                font-weight: bold;
                min-width: 280px;
                margin-bottom: 20px;

                span {
                    color: var(--color);
                }
            }

            p {
                width: 90%;
                font-size: 16px;
                font-weight: 400;
                color: var(--first);
                mask-border: 50px;
                margin-bottom: 15px;
                text-align: justify;
            }

            .social {
                display: flex;
                align-items: center;
                gap: 15px;
                margin: 25px 0;

                a {
                    text-decoration: none;
                    background: transparent;
                    color: var(--color);
                    width: 45px;
                    height: 45px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.4s ease;
                    border: 2px solid var(--color);

                    i {
                        font-size: 20px;
                    }

                    &:hover {
                        color: #fff;
                        background: var(--color);
                        transform: translateY(-7px);
                    }
                }
            }

            .btn {
                display: flex;
                align-items: center;
                gap: 20px;
                margin: 25px 0;

                button {
                    font-size: 15px;
                    font-weight: 600;
                    padding: 12px 24px;
                    color: var(--color);
                    background: transparent;
                    border: 2px solid var(--color);
                    border-radius: 50%;
                    outline: none;
                    cursor: pointer;
                    transition: 0.3s ease-in;

                    &:hover {
                        color: #fff;
                        background: var(--color);
                        transform: translateY(-7px);
                    }
                }
            }
        }
    }



    .right {
        flex: 1;

        .profile {
            text-align: right;

            img {
                width: 450px;
                height: 450px;
                object-fit: cover;
                object-position: top;
                border: 3px solid var(--color);
                border-radius: 50%;
                box-shadow: 0 0 40px var(--color);
                cursor: pointer;
                transition: 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 0 80px var(--color);
                }
            }
        }
    }
}

// Responsive

@media screen and (max-width: 1280px) {
    header {
        nav {
            padding: 0 50px
        }

        .list-dakmode-menu {
            .hamburger {
                display: block;
            }
        }
    }

    .home {
        padding: 250px 50px;

        .home-info {
            .left {
                h1 {
                    font-size: 4em;
                }
            }

            .right {
                .profile {
                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    header {
        background: var(--mob-color);
        position: sticky;
        top: 0;
        z-index: 9;

        nav {
            padding: 0 50px;
        }

        .list-dakmode-menu {


            ul {
                position: fixed;
                top: 89px;
                right: -100%;
                max-width: 60%;
                width: 100%;
                height: 100vh;
                background: var(--mob-color);
                //flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 30px;
                padding: 30px 50px;
                transition: 0.3s ease;



                li {
                    a {
                        font-size: 22px;
                    }
                }

                &.active {
                    right: 0;
                }
            }

            .hamburger {
                display: block;
            }
        }
    }

    // Home Section 

    .home {
        position: relative;
        padding: 30px 50px;
        height: 100%;

        .home-info {
            flex-direction: column-reverse;
            text-align: center;
            gap: 50px;

            .left {
                padding-top: 50px;
                // h1 {
                //     font-size: 3em;
                // }

                // h3 {
                //     font-size: 2em;
                // }

                // h4 {
                //     font-size: 1.8em;
                // }

                p {
                    width: 100%;
                    // text-align: center;
                }

                .social {
                    // justify-content: center;
                    display: none;
                }

                // .btn {
                //     justify-content: center;
                // }
            }

            .right {
                .profile {
                    margin-top: 25px;
                    text-align: center;

                    img {
                        width: 375px;
                        height: 375px;
                        box-shadow: 0 0 30px var(--color);

                        &:hover {
                            box-shadow: 0 0 60px var(--color);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        nav {
            padding: 0 30px;

            .list-dakmode-menu {
                ul {
                    padding: 30px 0 0 30px;

                    li {
                        a {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }

    .home {
        padding: 30px;

        .home-info {
            .left {
                h1 {
                    font-size: 3.6em;
                }

                h4 {
                    font-size: 1.8em;
                }

                p {
                    font-size: 14px;
                }
            }

            .right {
                .profile {
                    img {
                        width: 350px;
                        height: 350px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 567px){
    header{
        nav{
            .logo{
                a{
                    font-size: 28px;
                }
            }
        }
    }

    .home{
        .home-info{
            .left{
                h3{
                    font-size: 2em;
                }

                h1{
                    font-size: 2.8em;
                }
                h4{
                    font-size: 1.6em;
                }
                p{
                    font-size: 14px;
                }
            }

            .right{
                .profile{
                    img{
                        width: 280px;
                        height: 280px;
                    }
                }
            }
        }
    }
    
}